{% extends "master.html" %}
{% load static %}

{% block title %}
  My Travelspots
{% endblock %}


{% block content %}

  <div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span>
    <!-- New elements for homepage -->
    <div id="search-bar">
        <!-- Add your search bar code here -->
        <input type="text" placeholder="Search...">
        <button type="button">Search</button>
    </div>

    <div id="announcement">
        <!-- Add your announcement image here -->
        <img src="announcement.jpg" alt="Announcement Image" style="width: 100%;">
    </div>

    <div id="popular-attractions">
        <!-- Add your popular attractions cards here -->
      {% for x in myhot %}
        <div class="attraction-card">
            <img class="attraction-image" src="{{ x.himage.url }}" alt="Attraction 1">
            <h3>{{ x.hname }}</h3>
            <p><a href="{{ x.hlink }}">{{ x.hlocation }}</a></p>
            <p>{{ x.hinfo }}</p>
        </div>
      {% endfor %}

    </div>
  </div>



{% comment %}
  <h1>My Travelspots</h1>

  <h3>Travelspots</h3>
  
  <p>Check out all our <a href="travelspots/">travelspots</a></p>
  {% endcomment %}

{% endblock %}